@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 193 56% 92%;
    --foreground: 222.2 47.4% 11.2%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --primary: 129 29% 74%;
    --primary-foreground: 129 29% 10%;
    --secondary: 193 30% 88%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 193 30% 88%;
    --muted-foreground: 224 7.1% 44.1%;
    --accent: 120 73% 75%;
    --accent-foreground: 120 73% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 193 20% 80%;
    --input: 0 0% 100%;
    --ring: 129 29% 64%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 204 10% 10%;
    --foreground: 0 0% 98%;
    --card: 204 10% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 204 10% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 129 25% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 204 10% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 204 10% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 120 50% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 204 10% 25%;
    --input: 204 10% 25%;
    --ring: 129 25% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
